@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .http-button {
    @apply text-2xl font-bold rounded-lg min-w-full my-2 shadow-sm active:opacity-95 border-2 border-dotted border-black p-2
  }
}


:root {
  background-color: rgb(125, 205, 137);
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
